
/* animacoes */
@-webkit-keyframes animacao-key{
    from {
        background: seagreen;
    }
    to {
        background: pink;
    }
}
@-moz-keyframes animacao-key{
    from {
        background: seagreen;
    }
    to {
        background: pink;
    }
}
@-o-keyframes animacao-key{
    from {
        background: seagreen;
    }
    to {
        background: pink;
    }
}
@keyframes animacao-key{
    from {
        background: seagreen;
    }
    to {
        background: pink;
    }
}
#animacoes{
    width: 300px;
    height: 300px;
    background: seagreen;
    animation-name: animacao-key;
    animation-duration: 5s;
}

/* sombra */
#sombra{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    color: white;
    background: brown;
    /* o terceiro valor é o blur(borrado) */
    /* o quarto valor é o spread (espalhamento da sombra) */
    box-shadow: 20px 20px 20px 20px black;
}
#sombra h1{
    text-shadow: 30px 20px 5px rgba(0, 0, 0, 0.5);
}

/* degrade */
#degrade{
    width: 300px;
    height: 300px;
    background: url("../images/camera.png");
}
#degrade h1{
    background: rgba(0, 0, 0, 0.5);
}
#gradiente{
    width: 300px;
    height: 300px;
    padding: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    background: linear-gradient(120deg, grey, rgb(0, 204, 255), pink);
}
#gradiente2{
    width: 300px;
    height: 300px;
    padding: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    background: radial-gradient(yellow, orange, red, white);
}

/* box-sizing */
#caixa{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    padding: 50px;
    /* box-sizing -> não deixa o padding influenciar no tamanho da caixa */
    -webkit-sizing: border-box; 
    -moz-sizing: border-box; 
    box-sizing: border-box; 
    margin: 10px;
    -webkit-border-radius: 10px 50px 80px 100px;
    -moz-border-radius: 10px 50px 80px 100px;
    border-radius: 10px 50px 80px 100px;
}
#caixa2{
    width: 400px;
    height: 400px;
    background-color: rebeccapurple;
    padding: 10px;
    margin: 10px;
    -webkit-border-radius: 10px 50px 80px 100px;
    -moz-border-radius: 10px 50px 80px 100px;
    border-radius: 10px 50px 80px 100px;
}
.arredondamento{
    border-radius: 150px;
}
