/* bootstrap box-sizing */
.selector-for-some-widget {
    box-sizing: content-box;
}

/* media queries  */
/* **************** */
/* extra small devices(portraint phones) -> dispositivos menores que 576px*/
@media(max-width: 575.98px){
    body{
        background: black;
    }
}
/* small devices (ladscape phones) */
@media(min-width: 576px) and (max-width: 767.98px){
    body {
        background-color: whitesmoke;
    }
}
/* medium devices (tablets, 768px e superior) */
@media(min-width: 768px) and (max-width: 991.98px){
    body {
        background-color: silver;
    }
}
/* large devices (desktops, 992px e superior) */
@media(min-width: 992px) and (max-width: 1199.98px){
    body {
        background-color: yellowgreen;
    }
}
/* extra large devices (large desktops, 1200px e superior) */
@media(min-width: 1200px){
    body {
        background-color: tomato;
    }
}

/* flexbox */
#flexbox{
    background: darkblue;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    /* nowrap -> não quebra a row, permitindo que todos os itens caibam na linha */
    flex-wrap: nowrap;
    /* alinha os itens na horizontal */
    justify-content: flex-end;
    /* alinha os itens na vertical */
    align-items: flex-end;
}
.item{
    /* width: 100px;
    height: 100px; */
    background: white;
    border: 1px solid chartreuse;
    margin: 10px;
}

#flexbox2{
    background: orangered;
    height: 400px;
    display: flex;
    margin-top: 10px;
}
.item2{
    /* width: 200px; */
    height: 100px;
    background: white;
    border: 1px solid blueviolet;
    margin: 10px;
    flex-grow: 0;
    flex-shrink: 1;
    /* indica o tamanho inicial do flex item antes da distribuição do espaço restante */
    flex-basis: 100px;
}
.grow-item{
    flex-grow: 1;
}
.grow-item2{
    flex-grow: 2;
}
.shrink-item{
    flex-shrink: 5;
}
.order1{
    order: 1;
}
.order2{
    order: 2;
}
.order3{
    order: 3;
}
.order4{
    order: 4;
}

/* transições */
#transicoes{
    width: 300px;
    height: 300px;
    background: blueviolet;
}
#transicoes:hover{
    width: 400px;
    background: crimson;
    /* transition: width 3s, background 3s; */
    /* outra forma de escrever a linha acima: */
    transition: all 3s;
}

/* animacoes */
/* @-webkit-keyframes animacao-key{
    from {
        background: seagreen;
    }
    to {
        background: pink;
    }
}
@-moz-keyframes animacao-key{
    from {
        background: seagreen;
    }
    to {
        background: pink;
    }
}
@-o-keyframes animacao-key{
    from {
        background: seagreen;
    }
    to {
        background: pink;
    }
} */
@keyframes animacao-key{
    from {
        background: orange;
        border-radius: 0px;
        top: 0;
        left: 0;
    }
    to {
        background: blue;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}
#animacoes{
    width: 300px;
    height: 300px;
    background: orange;
    position: relative;

    /* animation-name: animacao-key;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 5;
    animation-direction: alternate; */

    /* o código acima pode ser resumido em uma única linha */
    -webkit-animation: animacao-key 5s 2s 5 alternate;
    -moz-animation: animacao-key 5s 2s 5 alternate;
    -o-animation: animacao-key 5s 2s 5 alternate;
    animation: animacao-key 5s 2s 5 alternate;
}

/* sombra */
#sombra{
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    color: white;
    background: brown;
    /* o terceiro valor é o blur(borrado) */
    /* o quarto valor é o spread (espalhamento da sombra) */
    box-shadow: 20px 20px 20px 20px black;
}
#sombra h1{
    text-shadow: 30px 20px 5px rgba(0, 0, 0, 0.5);
}

/* degrade */
#degrade{
    width: 300px;
    height: 300px;
    background: url("../images/camera.png");
}
#degrade h1{
    background: rgba(0, 0, 0, 0.5);
}
#gradiente{
    width: 300px;
    height: 300px;
    padding: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    background: linear-gradient(120deg, grey, rgb(0, 204, 255), pink);
}
#gradiente2{
    width: 300px;
    height: 300px;
    padding: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    background: radial-gradient(yellow, orange, red, white);
}

/* box-sizing */
#caixa{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    padding: 50px;
    /* box-sizing -> não deixa o padding influenciar no tamanho da caixa */
    -webkit-sizing: border-box; 
    -moz-sizing: border-box; 
    box-sizing: border-box; 
    margin: 10px;
    -webkit-border-radius: 10px 50px 80px 100px;
    -moz-border-radius: 10px 50px 80px 100px;
    border-radius: 10px 50px 80px 100px;
}
#caixa2{
    width: 400px;
    height: 400px;
    background-color: rebeccapurple;
    padding: 10px;
    margin: 10px;
    -webkit-border-radius: 10px 50px 80px 100px;
    -moz-border-radius: 10px 50px 80px 100px;
    border-radius: 10px 50px 80px 100px;
}
.arredondamento{
    border-radius: 150px;
}
